<form [formGroup]="checkoutForm" (submit)="setLists()">
  <div>
    <label for="postnumber"> Postinumero(t) </label>
    <input
      id="postnumber"
      type="text"
      formControlName="postnumber"
      placeholder="Postinumerot pilkulla erotettuna ja ilman välilyöntiä"
    />
  </div>

  <div *ngFor="let choice of checks; let i = index" class="col-md-2">
    <label>
      <input
        type="checkbox"
        [value]="choice.value"
        (change)="onCheckChange($event)"
      />
      {{ choice.description }}
    </label>
  </div>

  <button class="button" id="searchButton" type="submit">Hae</button>
</form>

<ngx-charts-bar-vertical-2d
  [view]="view"
  [scheme]="colorScheme"
  [legend]="legend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [results]="multi"
>
</ngx-charts-bar-vertical-2d>
